{**
 * This file is part of the Nextras community extensions of Nette Framework
 *
 * @license    MIT
 * @link       https://github.com/nextras
 *}


{define table-open-tag}
<table class="table table-condensed table-striped table-grid {if !empty($cssClass)}{$cssClass}{/if}">
	{/define}

	{define table-close-tag}
</table>
{/define}

{define row-head-columns}
	<tr class="grid-columns">
		{ifset $form[actions]}
			<th class="grid-col-global-actions"></th>
		{/ifset}
		{foreach $columns as $column}
			<th class="grid-col-{$column->name}">
				{if $column->canSort()}
					<a href="{link sort! orderColumn => $column->name, orderType => $column->getNewState()}" class="ajax">{$column->label}</a>
					{if $column->isAsc()}
						<span class="grid-sort-symbol grid-sort-symbol-asc"><em>&#9650;</em></span>
					{elseif $column->isDesc()}
						<span class="grid-sort-symbol grid-sort-symbol-desc"><em>&#9660;</em></span>
					{else}
						<span class="grid-sort-symbol grid-sort-symbol-no"></span>
					{/if}
				{else}
					{$column->label}
				{/if}
			</th>
		{/foreach}
		{if $hasActionsColumn}
			<th class="grid-col-actions"></th>
		{/if}
	</tr>
{/define}

{define global-actions}
	<div class="grid-global-actions">
		{input $form[actions][action]}
		{input $form[actions][process]}
	</div>
{/define}

{*define row-head-filter}
	<tr class="grid-filters">
		{ifset $form[actions]}
			<th class="grid-col-global-actions"></th>
		{/ifset}
		{formContainer filter}
		{foreach $columns as $column}
			<th class="grid-col-{$column->name}">
				{if isset($form['filter'][$column->name])}
					{ifset #col-filter-{$column->name}}
						{include #"col-filter-{$column->name}" column => $column}
					{else}
						{include #col-filter column => $column}
					{/ifset}
				{/if}
			</th>
		{/foreach}
		<th class="grid-col-actions">
			{include #global-filter-actions showCancel => $showFilterCancel}
		</th>
		{/formContainer}
	</tr>
{/define*}

{*define row-actions-edit}
	{input save}
	{input cancel}
{/define*}


{define row}
	<tr id={$rowId}>
		{include #row-inner row => $row}
	</tr>
{/define}

{define row-inner}
	{var $primary = $control->getter($row, $rowPrimaryKey)}
	{php if (!$sendOnlyRowParentSnippet): $this->global->snippetDriver->enter("rows-$primary", "dynamic"); endif;}

	{var $editRow = $editRowKey == $primary && $primary !== NULL && $editRowKey !== NULL}
	{ifset $form[actions]}
		<td class="grid-col-global-actions">
			{formContainer actions}
			{input items:$primary}
			{/formContainer}
		</td>
	{/ifset}
	{foreach $columns as $column}
		{var $cell = $control->getter($row, $column->name, FALSE)}
		{if $editRow && $column->name != $rowPrimaryKey && (isset($form['edit'][$column->name]) || isset($this->blockQueue["cell-edit-{$column->name}"]))}
			<td class="grid-col-{$column->name}">
				{ifset #cell-edit-$column->name}
					{include #"cell-edit-{$column->name}" form => $form, column => $column, row => $row}
				{else}
					{formContainer edit}
						{input $column->name}
						{if $form[edit][$column->name]->hasErrors()}
							<p class="error" n:foreach="$form[edit][$column->name]->getErrors() as $error">{$error}</p>
						{/if}
					{/formContainer}
				{/ifset}
			</td>
		{else}
			{ifset #col-$column->name}
				{include #"col-{$column->name}" row => $row, cell => $cell, iterator => $iterator}
			{else}
				<td class="grid-col-{$column->name}">
					{ifset #cell-$column->name}
						{include #"cell-{$column->name}" row => $row, cell => $cell, iterator => $iterator}
					{else}
						{$cell}
					{/ifset}
				</td>
			{/ifset}
		{/if}
	{/foreach}
	{if $hasActionsColumn}
	<td class="grid-col-actions">
		{if $editRow}
			{formContainer edit}
				{input $rowPrimaryKey class => 'grid-primary-value'}
				{include #row-actions-edit}
			{/formContainer}
		{else}
			{ifset #row-actions}
				{include #row-actions row => $row, primary => $primary}
			{elseif $control->getEditFormFactory()}
				{include #row-actions-edit-link row => $row, primary => $primary}
			{/ifset}
		{/if}
	</td>
	{/if}
	{php if (!$sendOnlyRowParentSnippet): $this->global->snippetDriver->leave(); endif;}
{/define}

{define global-filter-actions}

	<button n:name="filter" class="btn btn-centre">
		<i class="glyphicon glyphicon-filter"></i> Filtrovat
	</button>

	{if $showCancel}
		<button n:name="cancel" class="btn btn btn-red btn-centre">
			<i class="glyphicon glyphicon-ban-circle"></i> Zrušit filtrování
		</button>
	{/if}
{/define}

{define row-head-colums}
	<tr class="grid-columns">
		{foreach $columns as $column}
			<th class="grid-col-{$column->name}">
				{if $column->canSort()}
					<a href="{link sort! orderColumn => $column->name, orderType => $column->getNewState()}" class="ajax">{$column->label|noescape}</a>
					{if $column->isAsc()}
						<span class="grid-sort-symbol grid-sort-symbol-asc"><em>&#9650;</em></span>
					{elseif $column->isDesc()}
						<span class="grid-sort-symbol grid-sort-symbol-desc"><em>&#9660;</em></span>
					{else}
						<span class="grid-sort-symbol grid-sort-symbol-no"></span>
					{/if}
				{else}
					{ifset #row-head-$column->name}
						{include #"row-head-{$column->name}"}
					{else}
						{$column->label}
					{/ifset}
				{/if}
			</th>
		{/foreach}
		{ifset row-header-columns-last}
		{include row-header-columns-last}
		{/ifset}
	</tr>
{/define}

{define col-filter}
	<input placeholder="{$column->label}" type="text" n:name="$column->name" class="form-control">
{/define}

{define col-filter-FirstCalibrationDate}
	<div class="input-group date">
		<input class="form-control" n:name="$column->name" type="text">
		<span class="input-group-addon">
	<span class="glyphicon glyphicon-calendar"></span>
	</span>
	</div>
{/define}

{define col-filter-LastCalibrationDate}
	<div class="input-group date">
		<input class="form-control" n:name="$column->name" type="text">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
	</div>
{/define}

{define col-filter-NextCalibrationDate}
	<div class="input-group date">
		<input class="form-control" n:name="$column->name" type="text">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
	</div>
{/define}

{define row-head-filter}
	<tr class="grid-filters">
		{ifset $form[actions]}
			<th class="grid-col-global-actions"></th>
		{/ifset}
		{formContainer filter}
			{foreach $columns as $column}
				<th class="grid-col-{$column->name}">
					{if isset($form['filter'][$column->name])}
						{ifset #col-filter-{$column->name}}
							{include #"col-filter-{$column->name}" column => $column}
						{else}
							{include #col-filter column => $column}
						{/ifset}
					{/if}
				</th>
			{/foreach}
			<th class="grid-col-actions">
				{include #global-filter-actions showCancel => $showFilterCancel}
			</th>
		{/formContainer}
	</tr>
{/define}

{define row-actions-edit}
	{input save}
	{input cancel}
{/define}

{define row-actions-edit-link}
	<a href="{link edit! $primary}" class="ajax" data-datagrid-edit>{$control->translate(Edit)}</a>
{/define}

{define pagination}
	<div class="grid-paginator text-right">
	    <div class="left" style="position: relative">
			<label style="position: relative; top: -4px" for="items-per-page">Položek na stránku&nbsp;&nbsp;</label>
			<select class="form-control inline" id="items-per-page">
				{foreach \App\Common\Constants::PAGINATION_OPTIONS_VALUES as $value}
					<option{if $paginator->itemsPerPage === $value} selected="selected"{/if} value="{$value}">{$value}</option>
				{/foreach}
			</select>
			<label for="items-total" style="position: absolute; left: 0; top:20px;font-size: 80%; font-weight: normal;text-transform: none">(celkem {$paginator->itemCount} položek)</label>
		</div>

		{if $paginator->isFirst()}
			<a class="btn btn-default disabled"><i class="glyphicon glyphicon-chevron-left" style="background-color: #F7F9FA"></i> První</a>
			<a class="btn btn-default disabled"><i class="glyphicon glyphicon-chevron-left"></i> Předchozí</a>
		{else}
			<a href="{link paginate!, 'page' => 1}" class="ajax btn btn-default" style="background-color: #F7F9FA"><i class="glyphicon glyphicon-chevron-left"></i> První</a>
			<a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Předchozí</a>
		{/if}

		<span class="pad-button">
		Strana <span>{$paginator->page}</span> / <span>{if $paginator->pageCount === 0}1{else}{$paginator->pageCount}{/if}</span>
	</span>

		{if $paginator->isLast()}
			<a class="btn btn-default disabled" style="background-color: #F7F9FA">První <i class="glyphicon glyphicon-chevron-right"></i></a>
			<a class="btn btn-default disabled" style="background-color: #F7F9FA">Poslední <i class="glyphicon glyphicon-chevron-right"></i></a>
		{else}
			<a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax btn btn-default">Další <i class="glyphicon glyphicon-chevron-right"></i></a>
			<a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax btn btn-default" style="background-color: #F7F9FA">Poslední <i class="glyphicon glyphicon-chevron-right"></i></a>
		{/if}
	</div>
	<script n:syntax="double">
		var url = {{link changeItemsPerPage!, value => '0'}}.replace('\\', '')
		$('#items-per-page').off('change').on('change', function (e) {
			var itemsPerPage = this.value;
			if (!itemsPerPage || isNaN(itemsPerPage) || itemsPerPage < 1) {
				alert('Počet položek na stránku má neplatnou hodnotu!');
				e.preventDefault();
				return false;
			}
			loader("show");
			$.nette.ajax({
				cache: false,
				type: 'GET',
				url: url.replace('value=0', 'value=' + itemsPerPage),
				async: true,
				complete: function () {
					loader("hide");
				}
			});
		});
	</script>
{/define}
